# dependencies
/node_modules

# production build
/build

# environment variables
.env
.env.*.local

# testing
/coverage

# misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor directories and files
.idea/
.vscode/
*.swp

# local development tools
.eslintcache

# Mac system files
*.DS_Store
